@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body{
    width: 100%;
    height: 100%;
    background-color: #190061;
}

*{
    font-family: 'Press Start 2P', cursive;
    box-sizing: border-box;
}
  
  .header {
    background-color: #0c0032;
    padding: 30px;
    text-align: center;
    font-size: 3rem;
  }
  
  #navbar {
    background-color: #240090;
    width: 100%;
  }
  
  #navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #3500D3;
    color: white;
  }

  .container-fluid {
    padding: 30px;
  }
  
  .sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .main {
    text-align: left;
    background: deepskyblue;
  }
  
  .aside-1 {
    background: gold;
  }
  
  .aside-2 {
    background: hotpink;
  }
  
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }

  @viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

  @-ms-viewport {
    width: device-width ;
  }