<!DOCTYPE html>
<html lang="sk">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../fav/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../fav/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../fav/favicon-16x16.png">
        <link rel="manifest" href="../fav/site.webmanifest">
        
        <!-- Title -->
        <title>B-AJ1</title>
        
        <!-- Internal Stylesheets -->
        <link rel="stylesheet" href="../css/design.css">
        <link rel="stylesheet" href="../css/components.css">
        <link rel="stylesheet" href="../css/icons.css">
        <link rel="stylesheet" href="../css/responsee.css">
        <link rel="stylesheet" href="../owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="../owl-carousel/owl.theme.css"> 
        
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        
        <!-- jQuery -->
        <script src="../js/jquery-1.8.3.min.js"></script>
        <script src="../js/jquery-ui.min.js"></script>
        
        <!-- Darkmode.js-->
        <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.6/lib/darkmode-js.min.js"></script>      
    </head>

    <body class="size-960">
        <!-- HEADER -->
        <header>
            <div class="line">
                <div class="feiblue box">
                    <div class="s-12 l-2 right">
                        <!-- <img class="s-5 l-12 center" src="img/logo.svg"> -->
                        <h4 class="right" style="color: white; ">FEI STUFF</h4>
                </div>
                </div>
            </div>

            <!-- TOP NAV -->  
            <div class="line">
                <nav class="margin-bottom">
                    <div class="top-nav s-12 l-10">
                        <ul>
                            <li>
                                <a class="lang" key="home" href="../index.html">Domov</a>
                            </li>
                            <li>
                                <a>API-BC</a>
                                    <ul>
                                        <li>
                                            <a>1-Term</a>
                                            <ul>
                                                <li><a href="#">B-AJ1</a></li>
                                                <li><a href="./LA1.html">B-LA1</a></li>
                                                <li><a>LSI</a></li>
                                                <li><a>MAT1</a></li>
                                                <li><a href="./B-PROG1.html">B-PROG1</a></li>
                                                <li><a>TO DO Spoloč. Ved. Pred.</a></li>
                                            </ul>
                                        </li>                           
                                        <li>
                                            <a>2-Term</a>
                                            <ul>
                                                <li><a>API</a></li>
                                                <li><a>AJ2</a></li>
                                                <li><a>DIM</a></li>
                                                <li><a>MAT2</a></li>
                                                <li><a>PROG2</a></li>
                                            </ul>
                                        </li>                           
                                        <li>
                                            <a>3-Term</a>
                                            <ul>
                                                <li><a>DUS</a></li>
                                                <li><a>MASTA</a></li>
                                                <li><a>PS</a></li>
                                                <li><a>PT</a></li>
                                                <li><a>MPP</a></li>
                                                <li><a>TZI</a></li>
                                            </ul>
                                        </li>                           
                                        <li>
                                            <a>4-Term</a>
                                            <ul>
                                                <li><a>DBS</a></li>
                                                <li><a>LA2</a></li>
                                                <li><a>OOP</a></li>
                                                <li><a>UMINT</a></li>
                                                <li><a>GO TO Man. Pred.</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a>5-Term</a>
                                            <ul>
                                                <li><a>AZA</a></li>
                                                <li><a>OS</a></li>
                                                <li><a>SWI</a></li>
                                                <li><a>WEB1</a></li>
                                                <li><a>KSIF</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a>6-Term</a>
                                            <ul>
                                                <li><a>VSA</a></li>
                                                <li><a>WEB2</a></li>
                                                <li><a>AS</a></li>
                                                <li><a>PKRIM</a></li>
                                                <li><a>RAL</a></li>
                                            </ul>
                                        </li>
                                    </ul> 
                                <li>
                                    <a class = "lang" key="language">Jazyk</a>
                                    <ul>
                                        <li>
                                            <a id="SVK" class="translate">SVK</a>
                                        </li>                           
                                        <li>
                                            <a id="ENG" class="translate">ENG</a>
                                        </li>
                                    </ul> 
                                </li>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <div>
            <!-- ASIDE NAV AND CONTENT -->
            <div class="line">
                <div class="box margin-bottom">
                    <div class="margin">
                        <!-- CONTENT -->
                        <article class="s-12 m-7 l-12">
                            <h2>Advertisements</h2>
                            <p>
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                            </p>
                        </article>
                    </div>
                </div>
                <div class="box margin-bottom">
                    <div class="margin">
                        <!-- CONTENT -->
                        <article class="s-12 m-7 l-12">
                            <h2 class="lang" key = 'sylabus'>Podmienky na absolvovanie predmetu</h2>
                            <p class="lang" key='sylabus content'>Zápočet - 2 úspešne absolvované testy - každý min. 28 bodov - 56%</p><br>
                            <h3 class = "lang" key = "course content and reading">Stručná osnova a Literatúra</h3>
                            <p>
                                <p class="lang" key='point1'>Rozvíjať zručnosti ústnej a písomnej komunikácie v oblasti akademických a profesijných potrieb absolventov, B2 stupňa SEER.</p>
                                <p class="lang" key='point2'>Po absolvovaní predmetu by študent mal byť schopný:</p>
                                <p class="lang" key='point3'>• čítať s porozumením odbornú literatúru</p>
                                <p class="lang" key='point4'>• hovoriť na témy bežného a profesijného života</p>
                                <p class="lang" key='point5'>• zvládnuť písomný prejav vo vybraných žánroch</p>
                                <p class="lang" key='point6'>• Gramaticko-lexikálne a syntaktické javy: špecifiká používania slovesných časov, frekventované predložkové spojenia, základy syntaxe, rozdiely v používaní všeobecného a odborného štýlu, stupne formálnosti, lexikálne jednotky z oblasti elektrotechniky a informatiky.</p>
                                <p class="lang" key='point7'>• Písomný prejav: inštrukcie, definície.</p>
                                <p class="lang" key='point8'>• Práca s textom: informatívne a študijné čítanie, čítanie za účelom nájdenia všeobecnej a špecifickej informácie, odhad významu z kontextu.</p>
                                <p class="lang" key='point9'>• Ústny prejav: odborný a spoločenský dialóg</p><br>

                                OLEJNICZAK, M. -- BONAMY, D. English for Information Technology: Vocational English Course Book 1. Edinburgh : Pearson Education Limited, 2011. 79 s. ISBN 978-1-4082-6996-1.<br>
                                OLEJNICZAK, M. -- BONAMY, D. English for Information Technology 1.  [CD-ROM]. 2011.<br>
                                BOECKNER, K. -- BROWN, P. Oxford English for computing. Oxford : Oxford University Press, 1993. 212 s. ISBN 0-19-457387-7.<br>
                                Adrian Doff, Christopher Jones: Language in Use Beginner. Cambridge University Press 1999, ISBN 0 521 62707 9, ISBN 0 521 62705 2<br>
                                B. Robinson, PhDr. Ľ. Rovanová, PhD, PhDr. I. Podpera: English for Students of Electrical Engineering, Bratislava, 1992<br>
                                Úroveň D : GLENDINNING, E. H. -- MCEWAN, J. Oxford English for Information Technology : Teacher´s guide. 1. vyd. Oxford: Oxford University Press, 2002. 133 s. ISBN 0-19-457376-1<br><br>
                            </p>
                        </article>
                    </div>
                </div>
            </div>

            <!-- HOME PAGE BLOCK -->      
            <div class="line">
                <div class="margin">
                    <div class="s-12 m-6 l-4 margin-bottom">
                        <div class="box">
                            <h2 class = "lang" key = "books">Učebnice - PDF verzie</h2>
                            <ul class="darkmode-ignore">
                                <li style="list-style-type:none">
                                    <p class="emoji">💾</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <footer class="line">
            <div class="feigray box">
                <div class="s-12 l-6">
                <p>© 2020 Copyright: FEI Guys === skuzol & Fazy</p>
                </div>
                <div class="s-12 l-6">
                <a class="right" href="http://www.myresponsee.com" title="Responsee - lightweight responsive framework">Design and coding by Responsee Team</a>
                </div>
            </div>
        </footer>

        <!-- Translation -->
        <script src="../template-js/B-AJ1.js"></script>
        
        <script src="../js/responsee.js"></script>               
        <script src="../owl-carousel/owl.carousel.js"></script>
        <script src="../js/owl.jQuery.js"></script>
        <script src="../js/app_properties.js"></script>
    </body>
</html>