<!DOCTYPE html>
<html lang="sk">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../fav/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../fav/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../fav/favicon-16x16.png">
        <link rel="manifest" href="../fav/site.webmanifest">
        
        <!-- Title -->
        <title>B-ENVI</title>
        
        <!-- Internal Stylesheets -->
        <link rel="stylesheet" href="../css/design.css">
        <link rel="stylesheet" href="../css/components.css">
        <link rel="stylesheet" href="../css/icons.css">
        <link rel="stylesheet" href="../css/responsee.css">
        <link rel="stylesheet" href="../owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="../owl-carousel/owl.theme.css"> 
        
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        
        <!-- jQuery -->
        <script src="../js/jquery-1.8.3.min.js"></script>
        <script src="../js/jquery-ui.min.js"></script>
        
        <!-- Darkmode.js-->
        <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.6/lib/darkmode-js.min.js"></script>      
    </head>

    <body class="size-960">
        <!-- HEADER -->
        <header>
            <div class="line">
                <div class="feiblue box">
                    <div class="s-12 l-2 right">
                        <!-- <img class="s-5 l-12 center" src="img/logo.svg"> -->
                        <h4 class="right" style="color: white; ">FEI STUFF</h4>
                </div>
                </div>
            </div>

            <!-- TOP NAV -->  
            <div class="line">
                <nav class="margin-bottom">
                    <div class="top-nav s-12 l-10">
                        <ul>
                            <li>
                                <a class="lang" key="home" href="../index.html">Domov</a>
                            </li>
                            <li>
                                <a>API-BC</a>
                                    <ul>
                                        <li>
                                            <a>1-Term</a>
                                            <ul>
                                                <li><a href="./AJ1.html">B-AJ1</a></li>
                                                <li><a href="./B-LA1.html">B-LA1</a></li>
                                                <li><a href="./B-LSI.html">B-LSI</a></li>
                                                <li><a href="./B-MAT1I.html">B-MAT1I</a></li>
                                                <li><a href="./B-PROG1.html">B-PROG1</a></li>
                                                <li><a>B-ENVI</a></li>
                                                <li><a href="./B-HIKT.html">B-HIKT</a></li>
                                                <li><a href="./B-MKOM.html">B-MKOM</a></li>
                                                <li><a href="./B-ROCS.html">B-ROCS</a></li>
                                            </ul>
                                        </li>                           
                                        <li>
                                            <a>2-Term</a>
                                            <ul>
                                                <li><a>API</a></li>
                                                <li><a>AJ2</a></li>
                                                <li><a>DIM</a></li>
                                                <li><a>MAT2</a></li>
                                                <li><a>PROG2</a></li>
                                            </ul>
                                        </li>                           
                                        <li>
                                            <a>3-Term</a>
                                            <ul>
                                                <li><a>DUS</a></li>
                                                <li><a>MASTA</a></li>
                                                <li><a>PS</a></li>
                                                <li><a>PT</a></li>
                                                <li><a>MPP</a></li>
                                                <li><a>TZI</a></li>
                                            </ul>
                                        </li>                           
                                        <li>
                                            <a>4-Term</a>
                                            <ul>
                                                <li><a>DBS</a></li>
                                                <li><a>LA2</a></li>
                                                <li><a>OOP</a></li>
                                                <li><a>UMINT</a></li>
                                                <li><a>GO TO Man. Pred.</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a>5-Term</a>
                                            <ul>
                                                <li><a>AZA</a></li>
                                                <li><a>OS</a></li>
                                                <li><a>SWI</a></li>
                                                <li><a>WEB1</a></li>
                                                <li><a>KSIF</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a>6-Term</a>
                                            <ul>
                                                <li><a>VSA</a></li>
                                                <li><a>WEB2</a></li>
                                                <li><a>AS</a></li>
                                                <li><a>PKRIM</a></li>
                                                <li><a>RAL</a></li>
                                            </ul>
                                        </li>
                                    </ul> 
                                <li>
                                    <a class = "lang" key="language">Jazyk</a>
                                    <ul>
                                        <li>
                                            <a id="SVK" class="translate">SVK</a>
                                        </li>                           
                                        <li>
                                            <a id="ENG" class="translate">ENG</a>
                                        </li>
                                    </ul> 
                                </li>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <div>
            <!-- ASIDE NAV AND CONTENT -->
            <div class="line">
                <div class="box margin-bottom">
                    <div class="margin">
                        <!-- CONTENT -->
                        <article class="s-12 m-7 l-12">
                            <h2>Advertisements</h2>
                            <p>
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                            </p>
                        </article>
                    </div>
                </div>
                <div class="box margin-bottom">
                    <div class="margin">
                        <!-- CONTENT -->
                        <article class="s-12 m-7 l-12">
                            <h2 class="lang" key='conditions'>Podmienky na absolvovanie predmetu</h2>
                            <p>
                                <p class="lang" key='point0'>• Získanie zápočtu = pripustenie ku skúške: 100% účasť na cvičeniach a odovzdanie zadaní z výpočtových cvičení. Kvalita a úroveň vypracovania zadaní sa ohodnotí pridelením 0-20 bodov.</p>
                                <p class="lang" key='point1'>• Vypracovanie skúškového testu na viac ako 60% (t.j. získanie viac ako 48 bodov z 80)</p><br>
                            </p>
                            <h3 class = "lang" key = "course content and reading">Stručná osnova a Odporúčaná Literatúra</h3>
                            <p>
                                <p>
                                    <p class="lang" key='point2'>Pochopenie vzťahu medzi technikou a prírodným prostredím a získanie prehľadu o základných pojmoch používaných v environmentalistike.</p>
                                    <p class="lang" key='point3'>Čítanie odborných textov z environmentalistiky s porozumením. </p>
                                    <p class="lang" key='point4'>Aplikácie základných poznatkov z fyziky v problematike životného prostredia.</p>
                                    <p class="lang" key='point5'>Študent získa vedomosti o základných zložkách životného prostredia (voda, vzduch, energia), metódach ich monitorovania a manažmente ich znečistenia.</p><br>
                                    <p class="lang" key='point6'>1. Základné ekologické pojmy a definície.</p>
                                    <p class="lang" key='point7'>2. Prenos hmoty a energie.</p> 
                                    <p class="lang" key='point8'>3. Základné zložky životného prostredia: voda I</p>
                                    <p class="lang" key='point9'>4. Základné zložky životného prostredia: voda II.</p>
                                    <p class="lang" key='point10'>5. Základné zložky životného prostredia: vzduch I.</p>
                                    <p class="lang" key='point11'>3. Základné zložky životného prostredia: voda II.</p>
                                    <p class="lang" key='point12'>7. Emisie a manažment emisií.</p>
                                    <p class="lang" key='point13'>8. Skleníkový efekt.</p>
                                    <p class="lang" key='point14'>9. Ozón.</p>
                                    <p class="lang" key='point15'>10. Metódy monitorovania životného prostredia.</p>
                                    <p class="lang" key='point16'>11. Vplyvy vybraných fyzikálnych faktorov na životné prostredie I.</p>
                                    <p class="lang" key='point17'>12. Vplyvy vybraných fyzikálnych faktorov na životné prostredie II.</p>
                                </p><br>
                                BRINKMAN, A. Physics of the Environment. London : Imperial College Press<br>
                                BOEKER, E. -- GRONDELLE, R. Environmental Science: Physical Principles and Applications. Chichester : John Wiley & Sons<br>
                                MASTERS, G M. Introduction to environmental engineering and science. Englewood Cliffs : Prentice Hall<br>
                                BRINKMAN, A. Physics of Environment. London: Imperial College Press<br>
                                BOEKER, E. -- GRONDELLE, R. Environmental physics. Chichester : John Wiley<br>
                                BOEKER, E. -- GRONDELLE, R. Environmental Physics. Chichester : John Wiley & Sons<br>
                                BOEKER, E. -- GRONDELLE, R. Environmental Physics: Sustainable Energy and Climate Change. West Sussex : John Wiley & Sons<br>
                            </p>
                        </article>
                    </div>
                </div>
            </div>

            <!-- HOME PAGE BLOCK -->      
            <div class="line">
                <div class="margin">
                    <div class="s-12 m-6 l-4 margin-bottom">
                        <div class="box">
                            <h2 class = "lang" key = "exam">Skúšky</h2>
                            <ul class="darkmode-ignore">
                                <li style="list-style-type:none">
                                    <p class="emoji">📘</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <footer class="line">
            <div class="feigray box">
                <div class="s-12 l-6">
                <p>© 2020 Copyright: FEI Guys === skuzol & Fazy</p>
                </div>
                <div class="s-12 l-6">
                <a class="right" href="http://www.myresponsee.com" title="Responsee - lightweight responsive framework">Design and coding by Responsee Team</a>
                </div>
            </div>
        </footer>

        <script src="../js/responsee.js"></script>               
        <script src="../owl-carousel/owl.carousel.js"></script>
        <script src="../js/owl.jQuery.js"></script>
        <script src="../js/app_properties.js"></script>

        <!-- Translation -->
        <script src="../template-js/B-ENVI.js"></script>
    </body>
</html>