<!DOCTYPE html>
<html lang="sk">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../fav/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../fav/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../fav/favicon-16x16.png">
        <link rel="manifest" href="../fav/site.webmanifest">
        
        <!-- Title -->
        <title>B-MAT1I</title>
        
        <!-- Internal Stylesheets -->
        <link rel="stylesheet" href="../css/design.css">
        <link rel="stylesheet" href="../css/components.css">
        <link rel="stylesheet" href="../css/icons.css">
        <link rel="stylesheet" href="../css/responsee.css">
        <link rel="stylesheet" href="../owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="../owl-carousel/owl.theme.css"> 
        
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        
        <!-- jQuery -->
        <script src="../js/jquery-1.8.3.min.js"></script>
        <script src="../js/jquery-ui.min.js"></script>
        
        <!-- Darkmode.js-->
        <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.6/lib/darkmode-js.min.js"></script>      
    </head>

    <body class="size-960">
        <!-- HEADER -->
        <header>
            <div class="line">
                <div class="feiblue box">
                    <div class="s-12 l-2 right">
                        <!-- <img class="s-5 l-12 center" src="img/logo.svg"> -->
                        <h4 class="right" style="color: white; ">FEI STUFF</h4>
                </div>
                </div>
            </div>

            <!-- TOP NAV -->  
            <div class="line">
                <nav class="margin-bottom">
                    <div class="top-nav s-12 l-10">
                        <ul>
                            <li>
                                <a class="lang" key="home" href="../index.html">Domov</a>
                            </li>
                            <li>
                                <a>API-BC</a>
                                    <ul>
                                        <li>
                                            <a>1-Term</a>
                                            <ul>
                                                <li><a href="./AJ1.html">B-AJ1</a></li>
                                                <li><a href="./B-LA1.html">B-LA1</a></li>
                                                <li><a href="./B-LSI.html">B-LSI</a></li>
                                                <li><a>B-MAT1I</a></li>
                                                <li><a href="./B-PROG1.html">B-PROG1</a></li>
                                                <li><a href="./B-ENVI.html">B-ENVI</a></li>
                                                <li><a href="./B-HIKT.html">B-HIKT</a></li>
                                                <li><a href="./B-MKOM.html">B-MKOM</a></li>
                                                <li><a href="./B-ROCS.html">B-ROCS</a></li>
                                            </ul>
                                        </li>                           
                                        <li>
                                            <a>2-Term</a>
                                            <ul>
                                                <li><a>API</a></li>
                                                <li><a>AJ2</a></li>
                                                <li><a>DIM</a></li>
                                                <li><a>MAT2</a></li>
                                                <li><a>PROG2</a></li>
                                            </ul>
                                        </li>                           
                                        <li>
                                            <a>3-Term</a>
                                            <ul>
                                                <li><a>DUS</a></li>
                                                <li><a>MASTA</a></li>
                                                <li><a>PS</a></li>
                                                <li><a>PT</a></li>
                                                <li><a>MPP</a></li>
                                                <li><a>TZI</a></li>
                                            </ul>
                                        </li>                           
                                        <li>
                                            <a>4-Term</a>
                                            <ul>
                                                <li><a>DBS</a></li>
                                                <li><a>LA2</a></li>
                                                <li><a>OOP</a></li>
                                                <li><a>UMINT</a></li>
                                                <li><a>GO TO Man. Pred.</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a>5-Term</a>
                                            <ul>
                                                <li><a>AZA</a></li>
                                                <li><a>OS</a></li>
                                                <li><a>SWI</a></li>
                                                <li><a>WEB1</a></li>
                                                <li><a>KSIF</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a>6-Term</a>
                                            <ul>
                                                <li><a>VSA</a></li>
                                                <li><a>WEB2</a></li>
                                                <li><a>AS</a></li>
                                                <li><a>PKRIM</a></li>
                                                <li><a>RAL</a></li>
                                            </ul>
                                        </li>
                                    </ul> 
                                <li>
                                    <a class = "lang" key="language">Jazyk</a>
                                    <ul>
                                        <li>
                                            <a id="SVK" class="translate">SVK</a>
                                        </li>                           
                                        <li>
                                            <a id="ENG" class="translate">ENG</a>
                                        </li>
                                    </ul> 
                                </li>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <div>
            <!-- ASIDE NAV AND CONTENT -->
            <div class="line">
                <div class="box margin-bottom">
                    <div class="margin">
                        <!-- CONTENT -->
                        <article class="s-12 m-7 l-12">
                            <h2>Advertisements</h2>
                            <p>
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                            </p>
                        </article>
                    </div>
                </div>
                <div class="box margin-bottom">
                    <div class="margin">
                        <!-- CONTENT -->
                        <article class="s-12 m-7 l-12">
                            <h2 class="lang" key='conditions'>Podmienky na absolvovanie predmetu</h2>
                            <p class="lang" key='sylabus content'>V priebehu semestra bude jedna až dve písomné previerky za 30 bodov. Pre prístup na skúšku je potrebné získať aspoň 
                                50 percent bodov. Získané body sú súčasťou celkového hodnotenia. Po skončení semestra bude písomná skúška, 70 bodová.
                                Súčet bodov zo semestra a skúšky určuje hodnotenie podľa čl.16 študijného poriadku STU.
                                Na získanie hodnotenia A je potrebné získať najmenej 92 bodov, na získanie hodnotenia B najmenej 83 bodov, na hodnotenie C najmenej 74 bodov, 
                                na hodnotenie D najmenej 65 bodov a na hodnotenie E najmenej 56 bodov.
                                Študent získa základné vedomosti z diferenciálneho a integrálneho počtu funkcie jednej reálnej premennej. Rozumie základným myšlienkam diferenciálneho a integrálneho počtu.
                                <p class="lang" key='point0'>Je schopný:</p>
                                
                                <p class="lang" key='point1'>•Derivovať elementárne funkcie.</p>
                                <p class="lang" key='point2'>•Načrtnúť graf funkcie s vyznačením lokálnych extrémov, intervalov rastu a klesania, asymptot.</p>
                                <p class="lang" key='point3'>•Aplikovať diferenciálny počet na riešenie extremálnych úloh.</p>
                                <p class="lang" key='point4'>•Integrovať použitím základnej vety integrálneho počtu.</p>
                                <p class="lang" key='point5'>•Integrovať použitím integračných metód per partes a substitúcie.</p>
                                <p class="lang" key='point6'>•Rozhodnúť o konvergencii číselného radu.</p>
                            </p>
                            <h3 class = "lang" key = "course content and reading">Stručná osnova a Odporúčaná Literatúra</h3>
                            <p>
                                <p class="lang" key='week1'>1. Pojem funkcie reálnej premennej. Vlastnosti funkcie, parita, ohraničenosť, maximum, minimum, supremum, infimum, inverzná funkcia.</p>
                                <p class="lang" key='week2'>2. Elementárne reálne funkcie, mocninová, exponenciálna, logaritmická, Trigonometrické a cyklometrické funkcie.</p>
                                <p class="lang" key='week3'>3. Limita a spojitosť funkcie. Konečné limity. Nevlastná limita. Limita v nevlastnom bode. Jednostranné limity.</p>
                                <p class="lang" key='week4'>4. Spojitosť. Vlastnosti spojitých funkcií na uzavretom intervale.</p>
                                <p class="lang" key='week5'>5. Pojem derivácie. Výpočet derivácie funkcie reálnej premennej. Geometrický význam derivácie, prvý diferenciál.</p>
                                <p class="lang" key='week6'>6. Monotónnosť a lokálne extrémy. Vlastnosti diferencovateľnej funkcie na uzavretom intervale.</p>
                                <p class="lang" key='week7'>7. Derivácie vyšších rádov. Konvexnosť a konkávnosť. Extrémy a 2.derivácia. L‘Hospitalovo pravidlo.</p>
                                <p class="lang" key='week8'>8. Postupnosť ako funkcia na množine prirodzených čísel. Limita postupnosti. Vlastnosti. Postupnosť definovaná rekurentne.</p>
                                <p class="lang" key='week9'>9. Nekonečné rady. Pojem konvergencie. Geometrický rad. Kritériá konvergencie radov s nezápornými členmi.</p>
                                <p class="lang" key='week10'>10. Neurčitý integrál, definícia, elementárne integrály, metóda per partes a substitúcia.</p>
                                <p class="lang" key='week11'>11. Integrovanie racionálnych funkcii, rozklad na elementárne zlomky.</p>
                                <p class="lang" key='week12'>12. Určitý integrál (Riemannov), vzťah medzi integrálom a primitívnou funkciou, metódy integrovania, aplikácie určitého integrálu.</p><br>

                                SATKO, L. -- ŠULKA, R. Matematická analýza 1. Bratislava : SVŠT v Bratislave<br>
                                ŠULKA, R. -- MORAVSKÝ, L. -- SATKO, L. Matematická analýza 1. Bratislava : Alfa<br>
                                Glyn, J.: Modern engineering mathematics, Addison Wesley<br><br>
                            </p>
                        </article>
                    </div>
                </div>
            </div>

            <!-- HOME PAGE BLOCK -->      
            <div class="line">
                <div class="margin">
                    <div class="s-12 m-6 l-4 margin-bottom">
                        <div class="box">
                            <h2 class = "lang" key = "exercises">Cvičenia</h2>
                            <ul class="darkmode-ignore">
                                <li style="list-style-type:none">
                                    <p class="emoji">✏️</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                <div class="s-12 m-6 l-4 margin-bottom">
                        <div class="box">
                            <h2 class = "lang" key = "calculated examples">Vyrátané Príklady</h2>
                            <ul class="darkmode-ignore">
                                <li style="list-style-type:none">
                                    <p class="emoji">📘</p>
                                </li>
                            </ul>
                        </div>
                </div>
                <div class="s-12 m-6 l-4 margin-bottom">
                        <div class="box">
                            <h2 class = "lang" key = "lectures">Prednášky</h2>
                            <ul class="darkmode-ignore">
                                <li style="list-style-type:none">
                                    <p class="emoji">🧑‍🏫</p>
                                </li>
                            </ul>
                        </div>
                </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <footer class="line">
            <div class="feigray box">
                <div class="s-12 l-6">
                <p>© 2020 Copyright: FEI Guys === skuzol & Fazy</p>
                </div>
                <div class="s-12 l-6">
                <a class="right" href="http://www.myresponsee.com" title="Responsee - lightweight responsive framework">Design and coding by Responsee Team</a>
                </div>
            </div>
        </footer>

        <!-- Translation -->
        <script src="../template-js/B-MAT1I.js"></script>

        <script src="../js/responsee.js"></script>               
        <script src="../owl-carousel/owl.carousel.js"></script>
        <script src="../js/owl.jQuery.js"></script>
        <script src="../js/app_properties.js"></script>
    </body>
</html>