<!DOCTYPE html>
<html lang="sk">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <!-- Favicon -->
      <link rel="apple-touch-icon" sizes="180x180" href="../fav/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../fav/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../fav/favicon-16x16.png">
      <link rel="manifest" href="../fav/site.webmanifest">
      
      <!-- Title -->
      <title>LA1</title>
      
      <!-- Internal Stylesheets -->
      <link rel="stylesheet" href="../css/design.css">
      <link rel="stylesheet" href="../css/components.css">
      <link rel="stylesheet" href="../css/icons.css">
      <link rel="stylesheet" href="../css/responsee.css">
      <link rel="stylesheet" href="../owl-carousel/owl.carousel.css">
      <link rel="stylesheet" href="../owl-carousel/owl.theme.css"> 
      
      <!-- Google fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
      
      <!-- jQuery -->
      <script src="../js/jquery-1.8.3.min.js"></script>
      <script src="../js/jquery-ui.min.js"></script>
      
      <!-- Darkmode.js-->
      <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.6/lib/darkmode-js.min.js"></script>      

   </head>
   <body class="size-960">
      <!-- HEADER -->
      <header>
        <div class="line">
            <div class="feiblue box">
                <div class="s-12 l-2 right">
                    <!-- <img class="s-5 l-12 center" src="img/logo.svg"> -->
                    <h4 class="right" style="color: white; ">FEI STUFF</h4>
               </div>
            </div>
        </div>
        <!-- TOP NAV -->  
        <div class="line">
            <nav class="margin-bottom">
                <div class="top-nav s-12 l-10">
                    <ul>
                        <li>
                            <a href="../index.html">Home</a>
                        </li>
                        <li>
                        <a>API-BC</a>
                            <ul>
                                <li>
                                    <a>1-Term</a>
                                    <ul>
                                    <li><a>AJ1</a></li>
                                    <li><a>LA1</a></li>
                                    <li><a>LSI</a></li>
                                    <li><a>MAT1</a></li>
                                    <li><a>PROG1</a></li>
                                    <li><a>TO DO Spoloč. Ved. Pred.</a></li>
                                    </ul>
                                </li>                           
                                <li>
                                    <a>2-Term</a>
                                    <ul>
                                        <li><a>API</a></li>
                                        <li><a>AJ2</a></li>
                                        <li><a>DIM</a></li>
                                        <li><a>MAT2</a></li>
                                        <li><a>PROG2</a></li>
                                    </ul>
                                </li>                           
                                <li>
                                    <a>3-Term</a>
                                    <ul>
                                        <li><a>DUS</a></li>
                                        <li><a>MASTA</a></li>
                                        <li><a>PS</a></li>
                                        <li><a>PT</a></li>
                                        <li><a>MPP</a></li>
                                        <li><a>TZI</a></li>
                                    </ul>
                                </li>                           
                                <li>
                                    <a>4-Term</a>
                                    <ul>
                                        <li><a>DBS</a></li>
                                        <li><a>LA2</a></li>
                                        <li><a>OOP</a></li>
                                        <li><a>UMINT</a></li>
                                        <li><a>GO TO Man. Pred.</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a>5-Term</a>
                                    <ul>
                                        <li><a>AZA</a></li>
                                        <li><a>OS</a></li>
                                        <li><a>SWI</a></li>
                                        <li><a>WEB1</a></li>
                                        <li><a>KSIF</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a>6-Term</a>
                                    <ul>
                                        <li><a>VSA</a></li>
                                        <li><a>WEB2</a></li>
                                        <li><a>AS</a></li>
                                        <li><a>PKRIM</a></li>
                                        <li><a>RAL</a></li>
                                    </ul>
                                </li>
                            </ul> 
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
      </header>
      <section>
        <!-- ASIDE NAV AND CONTENT -->
        <div class="line">
            <div class="box margin-bottom">
                <div class="margin">
                    <!-- CONTENT -->
                    <article class="s-12 m-7 l-12">
                        <h1>Advertisements</h1>
                        <p>
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        </p>
                    </article>
                </div>
            </div>
            <div class="box margin-bottom">
                <div class="margin">
                    <!-- CONTENT -->
                    <article class="s-12 m-7 l-12">
                        <h1>Sylabus - LA1</h1>
                        <p>V priebehu semestra budú písomné previerky spolu 30 bodov, na získanie prístupu na skúšku 
                            treba získať spolu najmenej 15 bodov. Na skúške sa dá získať ešte 70 bodov. 
                            Na hodnotenia A je potrebné získať v súčte najmenej 92 bodov, na získanie hodnotenia B najmenej 
                            83 bodov, na hodnotenie C najmenej 74 bodov, na hodnotenie D najmenej 65 bodov a na hodnotenie E 
                            najmenej 56 bodov. Študent získa základné vedomosti z lineárnej algebry, maticovej algebry, 
                            analytickej geometrie v 3-rozmernom priestore a o polynómoch a racionálnych funkciách s reálnymi 
                            koeficientami. Dokáže používať eliminačné metódy riešenia sústav lineárnych rovníc.
                        </p>
                        <h3>Stručná osnova a Literatúra</h3>
                        <p>1. Sústavy lineárnych rovníc. Gaussova a Gauss-Jordanova eliminačná metóda<br>
                            2. Matice a determinanty.<br>
                            3. Aritmetika v priestore Rn. Lineárna (ne)závislosť, báza.<br>
                            4. Maticová algebra, výpočet inverznej matice.<br>
                            5. Polynómy, koreň, Hornerova schéma.<br>
                            6. Racionálne korene polynómov s celočíéselnými koeficientami.<br>
                            7. Rozklad na súčin ireducibilných polynómov<br>
                            8. Racionálne funkcie, elementárne zlomky.<br>
                            9. Vektory v R3, skalárny a vektorový súčin.<br>
                            10. Rovnice priamky a roviny<br>
                            11. Kvadratické formy<br>
                            12. Kvadratické plochy<br><br>

                            ZLATOŠ, P. Lineárna algebra a geometria: Cesta z troch rozmerov s presahmi do príbuzných odborov. Bratislava : Albert Marenčin - Vydavateľstvo PT, 2011. 741 s. ISBN 978-80-8114-111-9.<br>
                            MEYER, C D. Matrix Analysis and Applied Linear Algebra. Philadelphia: Siam, 2000. 718 s. ISBN 0-89871-454-0.<br>
                            GALANOVÁ, J. -- GATIAL, J. -- KAPRÁLIK, P. Lineárna algebra. Bratislava : SVŠT v Bratislave, 1991. 205 s.<br>
                            SCHWARZ, Š. Základy náuky o riešení rovníc. Bratislava : Veda, 1968. 454 s.<br>
                            GLYN, J. Advanced Modern Engineering Mathematics, 4 edition. Harlow: Prentice Hall, 2011. 1055 s. ISBN 0-273-71923-8.<br><br>
                        </p>
                    </article>
                </div>
            </div>
        </div>
        <!-- HOME PAGE BLOCK -->      
        <div class="line">
            <div class="margin">
                <div class="s-12 m-6 l-4 margin-bottom">
                    <div class="box">
                        <h2>Cvičenia</h2>
                        <ul class="darkmode-ignore">
                            🖋️
                        </ul>
                    </div>
                </div>
               <div class="s-12 m-6 l-4 margin-bottom">
                    <div class="box">
                        <h2>Vyrátané Príklady</h2>
                        <ul class="darkmode-ignore">
                            📘
                        </ul>
                    </div>
               </div>
               <div id = "DM" class="s-12 m-6 l-4 margin-bottom">
                    <div class="box">
                        <h2>Prednášky</h2>
                        <ul class="darkmode-ignore">
                            🧑‍🏫
                        </ul>
                    </div>
               </div>
            </div>
        </div>
         
      </section>
      <!-- FOOTER -->
      <footer class="line">
         <div class="feigray box">
            <div class="s-12 l-6">
               <p>© 2020 Copyright: FEI Guys === skuzol & Fazy</p>
            </div>
            <div class="s-12 l-6">
               <a class="right" href="http://www.myresponsee.com" title="Responsee - lightweight responsive framework">Design and coding by Responsee Team</a>
            </div>
         </div>
      </footer>                                                                   
      <script src="../js/responsee.js"></script>               
      <script src="../owl-carousel/owl.carousel.js"></script>
      
      <script>
        jQuery(document).ready(function($) {
          var owl = $('#header-carousel');
          owl.owlCarousel({
            nav: true,
            dots: true,
            items: 1,
            loop: true,
            navText: ["&#xf007","&#xf006"],
            autoplay: true,
            autoplayTimeout: 3000
          });
          var owl = $('#gallery-carousel');
          owl.owlCarousel({
            nav: false,
            dots: true,
            loop: true,
            navText: ["&#xf007","&#xf006"],
            autoplay: true,
            autoplayTimeout: 3000,
            responsive: {
              0: {
                items: 1
              },
              769: {
                items: 2
              },
              960: {
                items: 4
              }
            }
          });
        })
      </script>

      <script src="../js/app_properties.js"></script>
   </body>
</html>
